
body{
 background:linear-gradient(#000000,#4b0000);
 color:white;
 font-family:sans-serif;
 text-align:center;
 padding:20px;
}
.container{max-width:600px;margin:auto;}
.box{background:white;color:black;padding:20px;border-radius:10px;}
input{width:95%;padding:10px;margin:6px 0;}
.donate-btn{background:green;color:white;width:100%;padding:12px;border:none;border-radius:8px;}
button{margin-top:10px;padding:10px;}
